.footer {
    margin-top: 91px;
    margin-bottom: 82px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}
.footer__info {
    max-width: 300px;
}

.footer__logo {
    margin-bottom: 18px;
}

.footer__info-text {
    margin-bottom: 40px;
}
.footer__socials {
    display: flex;
    column-gap: 30px;

    & a:hover  {
        opacity: 0.7;
    }
}
.footer__nav {
    display: flex;
    justify-content: space-between;
    column-gap: 85px;
}

.footer__nav-block {
    ul {

    }

    li {
        margin-bottom: 13px;
        font-size: 14px;
    }

    li:hover {
        color: $accent-color;
    }
}

.footer__nav-block-title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 21px;
}